<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add New Product</title>
</head>

<div class="product">
  <h1>Add New Product</h1>
  <p class="emessage"> {{addProductMessage}} </p>
  <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="productform">
    <input type="text" placeholder="Enter Product Name" ngModel name="name" class="form" required>
    <input type="number" placeholder="Enter Product Price" ngModel name="price" class="form" required>
    <input type="text" placeholder="Enter Product Color" ngModel name="color" class="form" required>
    <input type="text" placeholder="Enter Product Category" ngModel name="category" class="form" required>
    <textarea type="text" placeholder="Enter Product Description" ngModel name="description" class="form" required></textarea>
    <input type="text" placeholder="Enter Product Image URL" ngModel name="image" class="form" required>
    <button type="submit" class="fbutton">Add Product</button>
  </form>
</div>

</html>
