<div class="seller-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Sign-up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form" >
      <input type="text" placeholder="Enter Name" ngModel name="name" class="form-input" required>
      <input type="password" placeholder="Enter Password" ngModel name="password" class="form-input" required>
      <input type="email" placeholder="Enter Email" ngModel name="email" class="form-input" required>
      <button type="submit" class="form-button">SignUp</button>
      <a (click)="openLogin()">Already Have Account? Click to Login</a>
    </form>
  </div>




<!--login area -->
<div *ngIf="showLogin"class="sign-up">
  <h1>Login</h1>
  <p class="error"> {{authError}} </p>
  <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form" >
    <input type="email" placeholder="Enter Email" ngModel name="email" class="form-input" required>
    <input type="password" placeholder="Enter Password" ngModel name="password" class="form-input" required>
    <button type="submit" class="form-button">Login</button>
    <a (click)="openSignUp()">Don't Have Account? Click to Sign-Up</a>

  </form>
</div>
</div>
