<div class="seller-auth">
    <div  class="sign-up">
      <h1>Seller Sign-up</h1>
      <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
        <input type="text"  placeholder="Enter Name" ngModel name="name" class="form-input">
        <input type="password"  placeholder="Enter Password" ngModel name="password" class="form-input">
        <input type="text"  placeholder="Enter Email" ngModel name="email"  class="form-input">
        <button class="form-button"> SignUp </button>
      </form>

</div>