<div class="container">
<app-header> </app-header>
<!-- <button nz-button nzType="primary">Primary Button</button>
<button nz-button nzType="default">Default Button</button>
<button nz-button nzType="dashed">Dashed Button</button>
<button nz-button nzType="text">Text Button</button>
<a nz-button nzType="link">Link Button</a> -->


<!-- 
<nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
<nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
<nz-avatar nzIcon="user"></nz-avatar>
<nz-avatar nzSize="small" nzIcon="user"></nz-avatar> -->
<router-outlet></router-outlet>
</div>